[submodule "simulator"]
	path = simulator
	url = https://github.com/CREATE-knowledge-planning/simulator.git
[submodule "Verification"]
	path = Verification
	url = https://github.com/CREATE-knowledge-planning/Verification.git
	branch = integration
[submodule "UniKER"]
	path = UniKER
	url = https://github.com/CREATE-knowledge-planning/UniKER.git
	branch = antoni_fixes
[submodule "Sensing_planning_framework"]
	path = Sensing_planning_framework
	url = https://github.com/CREATE-knowledge-planning/Sensing_planning_framework.git
	branch = python_package
[submodule "prism"]
	path = prism
	url = https://github.com/prismmodelchecker/prism.git
[submodule "historical_db"]
	path = historical_db
	url = https://github.com/seakers/historical_db
[submodule "propagator"]
	path = propagator
	url = https://github.com/CREATE-knowledge-planning/propagator
[submodule "orekit"]
	path = orekit
	url = https://github.com/seakers/orekit
